{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wallez Properties - Your trusted partner in real estate. Find the best properties, homes, rentals, and land. Expert advice and customer-focused service.">
    <meta name="keywords" content="Real Estate, Properties, Homes for Sale, Land, Rentals, Wallez Homes,Karen,Kileleshwa,Lavington,Nairobi,Kenya">
    <meta name="author" content="Wallez Properties">
    <meta name="robots" content="index, follow">
    <title>{% block title %}Wallez Properties{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block extra_styles %}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'about.css' %}">
    <link rel="stylesheet" href="{% static 'details.css' %}">
    <link rel="stylesheet" href="{% static 'properties.css' %}">
    {% endblock %}
</head>
<div>
    
</div>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="header-container">
            <!-- Logo Section -->
            <div class="box">
                <img src="{% static 'images/wallexzlogo.svg' %}" alt="Wallez Properties Logo" class="logo-placeholder">
            </div>
            <!-- Navigation Section -->
            <nav class="navigation">
                <h1 class="header-title">Wallez Homes & Properties</h1>
                <ul class="nav-list">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'properties_list' %}">Properties</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
        <h2 class="services-list">| Homes | Rentals & BnBs'| Land | </h2>
    </div>
    <!-- Main Content Area -->
    <main class="main-content">
        <div class="container">
            {% block content %}
            <!-- Page-specific content will go here -->
            {% endblock %}
        </div>
    </main>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="container">
           
           
        
        </div>
       
        <div class="container">
            <a href="#">
                <div class="section facebook" tooltip="Facebook">
                    <div class="icon">
                        <i class="fab fa-facebook-f fa-lg"></i>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="section instagram" tooltip="Instagram">
                    <div class="icon">
                        <i class="fab fa-instagram fa-lg"></i>
                    </div>
                </div>
            </a>
           
            <a href="#">
                <div class="section twitter" tooltip="Twitter">
                    <div class="icon">
                        <i class="fab fa-twitter fa-lg"></i>
                    </div>
                </div>
            </a>
           
        </div>
        <strong>
            <p>Phone: +254111254883</p>
            <p class="footer-text">&copy; 2024 Wallez Home & Properties. All rights reserved.</p>
        </strong>
       
    </footer>

    {% block extra_scripts %}
    <!-- Extra scripts specific to each page can be included here -->
    {% endblock %}
</body>
</html>
