{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Business</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
 
    <main class="main-content">
        <section class="featured-properties">
            <h2 class="section-title">Featured Properties</h2>
            {% for x in listings %}
            <div class="property-list">
                <a href="{% url 'listing_retrieve' x.id %}">{{ x.title }}</a>
                <img src="{{ x.image.url }}" alt="{{ x.title }}">
                <p>{{ x.price }}</p>
                <p>{{ x.location }}</p>
                <p>{{ x.bedrooms }}</p>
            </div>
            <button>  <a href="{% url 'listing_retrieve' x.id %}">Details</a></button>
            {% endfor %}
           
        </section>
        <section class="why-choose-us">
            <h2 class="section-title">Why Choose Us?</h2>
            <p class="description">We provide the best real estate services in the area.</p>
        </section>
    </main>
  
</body>
</html>
{% endblock %}
