/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-image: url("/static/images/image.png"); /* Ensure the path is correct */
  background-size: contain; /* Ensures the image covers the entire background */
  background-position: justify; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.box {
  flex: 0 0 auto; /* Prevent the box from growing */
  margin-right: 200px; /* Space between logo and navigation */
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Header */
.header {
  background: linear-gradient(145deg, #3df5cd, #1c695a);
  color: #fff;
  padding: 20px 0;
}

/* Flexbox container for header logo and navigation */
.header-container {
  display: flex;
  align-items: center; /* Align items vertically */
  max-width: 1400px;
  margin: 0 auto;
}

/* Logo Section */
.logo-placeholder {
  max-width: 250px; /* Ensure the logo fits within its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 150px;
}

/* Header title */
.header-title {
  text-align: left; /* Align title to the left */
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  font-size: 40px;
  margin: 0; /* Remove default margin */
  letter-spacing: 1px;
  transition: transform 0.5s;
}

.header-title:hover {
  transform: translateX(10px); /* Slight translation on hover */
}

/* Navigation */
.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: flex-start; /* Align navigation items to the left */
  margin-top: 20px; /* Add some spacing below the services list */
}

.nav-item {
  animation-name: bounce;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.nav-item:nth-child(1) { animation-delay: 0s; }
.nav-item:nth-child(2) { animation-delay: 0.1s; }
.nav-item:nth-child(3) { animation-delay: 0.2s; }
.nav-item:nth-child(4) { animation-delay: 0.3s; }

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background: linear-gradient(135deg, #e3e481, rgb(238, 163, 23));
  border-radius: 5px;
}

/* Keyframes */
@keyframes slideInRight {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 100%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Services list */
.services-list {
  text-align: center; /* Center the services list */
  color: #f3a71a;
  font-size: 16px;
  margin-bottom: 0px;
  font-family: 'Courier', monospace;
  border-right: 3px solid #208571;
  animation: typing 4s steps(40, Start), blink-caret 0.0005ms step-start infinite; /* Keyframe animations intact */
  overflow: hidden; /* Hide overflow to create a typing effect */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 40%; } /* Adjust this to fit your text */
}

/* Caret blinking animation */
@keyframes blink-caret {
  to, from { border-color: transparent; }
  30% { border-color: transparent; }
}

/* Footer */
.footer {
  background: linear-gradient(145deg, #3df5cd, #d6b88c);
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

.footer-text {
  font-size: 16px;
}

/* Social Links */

.section{
  background: linear-gradient(145deg, #3df5cd, #1c695a);
  color: #fff;
  height: 36px;
  width: 36px;
  margin: 0px 7px 0px;
  padding: 5px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.9);
  transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  aspect-ratio: 1 / 1;
}

a{
  text-decoration: none;
}

.section:hover{
  width: 140px;
  transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
}

.section::after{
  content: attr(tooltip);
  margin-left: 10px;
}

.facebook:hover{
  background: #3b5998;
}

.instagram:hover{
  background: #3f729b;
}

.youtube:hover{
  background: #cd201f;
}

.twitter:hover{
  background: #55acee;
}

.github:hover{
  background: #00405d;
}
/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .property-item {
    width: calc(50% - 20px);
  }

  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-list {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .property-item {
    width: 100%;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 10px 0;
  }
}
